*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body{
    background:#63a7acad;
    color:black;
    padding: 50px;    

      
}


header{
    text-align: center;
    background:#041731;
    padding: 20px;    
    box-shadow: 0px 4px 2px 4px rgb(0, 0, 0);
    border-radius:40px ;
    max-width: 80%;
    min-width: 65%;
    height: auto;
    margin: auto;

}

.section {
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    min-height: 100vh;
    width: 80%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    box-shadow: 0px 5px 3px 5px #041731fd;
    border-radius: 40px 40px 40px 40px;


    
}
.left-section{
    grid-column: span 2;
    height: 100%;
    background:#041731fd;
    color:aliceblue;
    border-radius: 40px 0px 0px 40px;
    padding: 2rem 1rem;

   
}

.right-section{
    grid-column: span 5;
    height: 100%;
    background-color:rgba(240, 248, 255, 0.808);
    border-radius: 0px 40px 40px 0px;
    

}

.title{
    color:black;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.sub-title{
    font-size: 20px;
    text-align:center;
    font-weight: bold;

}

.right-corpo{
    margin:5%;

}
.weight{
    font-weight: bold;
    font-size: 20px;
    margin-top:2%;

}

.subtitle{
    color:aliceblue;
    font-size: 15px;
    letter-spacing:0.1rem;
    text-align:left;
    margin:1%;
    margin-top:47%;

}


 
button{    
    padding: 5px 15px;
    font-size:20px;
    background-color:#7bc7ccf6;
    border: none;
    box-shadow: 0px 5px 5px 5px #041731fd;
    border-radius: 5px;
    margin-top: 30px;
  }
button:hover{
    box-shadow: 0px 3px 3px 3px #bcd9dbad;

}

.right{
    text-align:right;
}

.section-gap{
    letter-spacing: 1px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding: 2rem 0;
    position: relative;

}

.left-reference{
    font-size: 15px;
    text-align:left;

}

.right-reference{
    font-size: 15px;
}